   <div class="l1s"><img src="../../home/images/l_top_bg.gif" border="0"></div>
	  <div id="l1">
	    <div class="l1">
				 <h1><a href="javascript:void(0)" onclick="redirectTo('About', null, null);">公司介绍</a></h1>	 
		         
		</div>
	    <div class="l2">
		 		 <h1><a href="javascript:void(0)" onclick="redirectTo('Culture', null, null);">企业文化</a></h1>
		 </div>
		<!--  
		<div class="l1">
		 		 <h1><a href="../../home/about/Department.html">部门介绍</a></h1>
		</div> --> 
		<div class="l1">
				<h1><a href="javascript:void(0)" onclick="redirectTo('Yearbook', null, null);">公司业绩</a></h1>
		</div>
        		<div class="l2">
		 		 <h1><a href="javascript:void(0)" onclick="redirectTo('Honor', null, null);">公司荣誉</a></h1>
		</div>
        
	  </div>
	  <div class="l1x"><img src="../../home/images/l_b_bg.gif" border="0"></div>
