       <div style="MARGIN-TOP: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; WIDTH: 990px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, 宋体; TEXT-ALIGN: center">
					
					<p style="COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, 宋体;">
						川荣重工版权所有|
						<a jwcid="@Any" href="#" target="_blank">联系我们</a> |
						<a jwcid="@Any" href="#" target="_blank">网站地图</a> |
						<a jwcid="@Any" href="#" target="_blank">法律公告</a> |
						<a jwcid="@Any" href="#" target="_blank">OA入口</a> |
						<a jwcid="@Any" href="./app?service=page/Admin" target="_blank">管理人口</a> |
						<a jwcid="@Any" href="#" target="_blank">ICP备案号：京ICP备09110329号</a>
						<br><br>Copyright &copy 2008 Kavasaka Heavy Industry Science&Technology
					Development Co., Ltd. All rights reserved.
					</p>
		</div>