			<div id="header">
				<div id="top">
					<div id="top_l">
						<a jwcid="@Any" href="/"><img src="./home/images/logo2.jpg" border="0" alt="川荣重工" /> </a>
					</div>
					<div id="top_r">
						<form name="searchForm" id="searchForm" method="post">
							<input type=hidden value=Title name=Field />
							<span id="first"> <a jwcid="@Any" name="m66428"
								href="http://www.KAVASAKA.com"> <img jwcid="@Any"
										src="../../home/images/maps.gif" align=top border=0 /> <strong>中国</strong><font
									color="#006699">[选择]</font> </a> </span>
							<a jwcid="@Any" href="/" target="_blank">站点地图</a>
							&nbsp;&nbsp;搜索
							<input value="" name="Keywords" id="keywords" class="input2"
								style="width: 114px" />
							<a jwcid="@Any"><img jwcid="@Any" style="cursor: pointer"
									id="submit_search" src="./home/images/ok.gif" border="0"
									class="ok" /> </a>
						</form>
					</div>
				</div>
				<div id=menu_out>
					<div id=menu_in>
						<div id=menu>
<UL id=nav2>
								<li>
									<div jwcid="@Conditional" condition="ognl:nav == 0">
									<A jwcid="@Any" class=nav_on id=mynav0 onmouseover=javascript:qiehuan(0)
										href="/"><SPAN>首页</SPAN> </A>
									</div>
									<div jwcid="@Conditional" condition="ognl:nav != 0">
									<A jwcid="@Any" id=mynav0 onmouseover=javascript:qiehuan(0)
										href="/"><SPAN>首页</SPAN> </A>
									</div>									
								</li>
								<li>
									<div jwcid="@Conditional" condition="ognl:nav == 1">
									<a jwcid="@Any" href="javascript:void(0)" onmouseover="javascript:qiehuan(1)" id="mynav1"
										class="nav_on" onclick="redirectTo('News', null, null);"><span>新闻资讯</span> </a>
									</div>
									<div jwcid="@Conditional" condition="ognl:nav != 1">
									<a jwcid="@Any" href="javascript:void(0)" onmouseover="javascript:qiehuan(1)" id="mynav1"
										class="nav_off" onclick="redirectTo('News', null, null);"><span>新闻资讯</span> </a>
									</div>									
								</li>
								<li>
									<div jwcid="@Conditional" condition="ognl:nav == 2">
									<a jwcid="@Any" href="/home/about/about.html" onmouseover="javascript:qiehuan(2)" id="mynav2"
										class="nav_on"><span>公司简介</span> </a>
									</div>
									<div jwcid="@Conditional" condition="ognl:nav != 2">
									<a jwcid="@Any" href="/home/about/about.html" onmouseover="javascript:qiehuan(2)" id="mynav2"
										class="nav_off"><span>公司简介</span> </a>
									</div>									
								</li>
								<li>
									<div jwcid="@Conditional" condition="ognl:nav == 3">
									<a jwcid="@Any" href="/home/products/Product.html" onmouseover="javascript:qiehuan(3)" id="mynav3"
										class="nav_on"><span>产品中心</span> </a>
									</div>
									<div jwcid="@Conditional" condition="ognl:nav != 3">
									<a jwcid="@Any" href="/home/products/Product.html" onmouseover="javascript:qiehuan(3)" id="mynav3"
										class="nav_off"><span>产品中心</span> </a>
									</div>									
								</li>
								<li>
									<div jwcid="@Conditional" condition="ognl:nav == 4">
									<a jwcid="@Any" href="/home/techno/Technology.html" onmouseover="javascript:qiehuan(4)" id="mynav4"
										class="nav_on"><span>技术中心</span> </a>
									</div>
									<div jwcid="@Conditional" condition="ognl:nav != 4">
									<a jwcid="@Any" href="/home/techno/Technology.html" onmouseover="javascript:qiehuan(4)" id="mynav4"
										class="nav_off"><span>技术中心</span> </a>
									</div>									
								</li>
								<li>
									<div jwcid="@Conditional" condition="ognl:nav == 5">
									<a jwcid="@Any" href="/home/it/It.html" onmouseover="javascript:qiehuan(5)" id="mynav5"
										class="nav_on"><span>川荣软件</span> </a>
									</div>
									<div jwcid="@Conditional" condition="ognl:nav != 5">
									<a jwcid="@Any" href="/home/it/It.html" onmouseover="javascript:qiehuan(5)" id="mynav5"
										class="nav_off"><span>川荣软件</span> </a>
									</div>										
								</li>
								<li>
									<div jwcid="@Conditional" condition="ognl:nav == 6">
									<a jwcid="@Any" href="javascript:void(0)" onmouseover="javascript:qiehuan(6)" id="mynav6"
										class="nav_on" onclick="redirectTo('Group', null, null);"><span>集团成员</span> </a>
									</div>
									<div jwcid="@Conditional" condition="ognl:nav != 6">
									<a jwcid="@Any" href="javascript:void(0)" onmouseover="javascript:qiehuan(6)" id="mynav6"
										class="nav_off" onclick="redirectTo('Group', null, null);"><span>集团成员</span> </a>
									</div>									
								</li>
								<li>
									<div jwcid="@Conditional" condition="ognl:nav == 7">
									<a jwcid="@Any" href="javascript:void(0)" onmouseover="javascript:qiehuan(7)" id="mynav7"
										class="nav_on" onclick="redirectTo('Contact', null, null);"><span>联系我们</span> </a>
									</div>
									<div jwcid="@Conditional" condition="ognl:nav != 7">
									<a jwcid="@Any" href="javascript:void(0)" onmouseover="javascript:qiehuan(7)" id="mynav7"
										class="nav_off" onclick="redirectTo('Contact', null, null);"><span>联系我们</span> </a>
									</div>									
								</li>
							</UL>
				

							<div id=menu_con>
								<div id=qh_con0 style="DISPLAY: none"></div>
								<div id=qh_con1 style="DISPLAY: none"></div>
								<div id=qh_con2 style="DISPLAY: none"></div>
								<div id=qh_con3 style="DISPLAY: none"></div>
								<div id=qh_con4 style="DISPLAY: none"></div>
								<div id=qh_con5 style="DISPLAY: none"></div>
								<div id=qh_con6 style="DISPLAY: none"></div>
								<div id=qh_con7 style="DISPLAY: none"></div>
							</div>
						</div>
					</div>
				</div>
			</DIV>
<script type="text/javascript">
	function window.onload() {
		$('submit_search').observe("click", function() {
			if (document.searchForm.Keywords.value == '') {
				alert("关键字不能为空");
				return false;
			}
			$('searchForm').action = "/publish/search.php?o=search&TableID=1";
			$('searchForm').submit();
		})
	}
	document.body.onkeypress = function() {
		if (event.keyCode == 13) {
			if (document.searchForm.Keywords.value == '') {
				alert("关键字不能为空");
				return false;
			}
			$('searchForm').action = "/publish/search.php?o=search&TableID=1";
			$('searchForm').submit();
			return true;
		}
	}
</script>			