<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@wade:Head" reduce="true">
<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
<title>&nbsp;</title>
<script jwcid="@wade:Script" language="JavaScript" src="component/scripts/module/agent.js"></script>
</head>
<frameset id="PopupAgent" rows="*,0" frameborder="0" framespacing="0" onload="Wade.agent.initAgent();">
	<frame id="contentframe" name="contentframe" marginwidth="0" marginheight="0" noresize>
	<frame id="printframe" name="printframe" scrolling="no"/>
</frameset>
</html>