* { margin:0; padding:0; list-style:none;}
html { height:100%; overflow:hidden; background:#fff;}
body { height:100%; overflow:hidden; background:#fff; font-size:12px; font-family:"宋体"; scrollbar-highlight-color:#fff; scrollbar-face-color:#f2f6f9; scrollbar-arrow-color:#a0c0d7; scrollbar-3dlight-color:#a0c0d7; scrollbar-track-color:#f2f6f9; scrollbar-darkshadow-color:#a0c0d7; scrollbar-3dshadow-color:#f2f6f9; }
a { color:#000; text-decoration:none;}
a:hover { color:#f60;}
h1 span { display:none;}
h1.console { position:absolute; left:8px; top:8px; width:155px; height:40px; background:url(../images/logoConsole.gif);}
h1.quickstart { position:absolute; left:0; top:0; width:300px; height:62px; background:url(../images/logoQuickstart.gif);}
h1.help { position:absolute; left:0; top:0; width:277px; height:62px; background:url(../images/logoHelp.gif);}
h1.bugmgr { position:absolute; left:0; top:0; width:300px; height:62px; background:url(../images/logoBugmgr.gif);}
h1.basicapp { position:absolute; left:0; top:0; width:247px; height:62px; background:url(../images/logoBasicapp.gif);}



/*--- e_clear ---*/
.e_clear:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
.e_clear { display:inline-block;}
.e_clear { display:block;}



/*--- p_login ---*/
.p_login { position:relative; height:100%; overflow:hidden;}
.p_login .f_slip,
.p_login .f_header { position:relative;}
.p_login .f_copyright { position:absolute; width:100%; bottom:0; left:0;}



/*--- f_login ---*/
.f_login .e_input { font-size:12px; word-break:break-all; height:19px; background:#ffc; border:1px solid #000; vertical-align:middle; line-height:19px;}
.f_login { width:600px; height:300px; position:absolute; top:50%; left:50%; margin-top:-150px; margin-left:-300px; background:url(../images/loginBG.gif) #fff no-repeat;}
.f_login .input { margin-left:250px; margin-top:70px; font-size:14px; zoom:1;}
.f_login .input ul { margin-top:-9px;}
.f_login .input li { margin-top:9px;}
.f_login .input li:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
.f_login .input li { display:inline-block;}
.f_login .input li { display:block;}
.f_login .input .label { float:left; line-height:21px;}
.f_login .input .e_input { float:left; width:240px;}
.f_login .input .codeInput { width:180px;}
.f_login .input img { float:left;}
.f_login .submit { margin-left:250px; margin-top:20px;}
.f_login .submit .e_button { float:left; border:1px solid #044e96; background:#81a6ca; color:#fff; font-size:14px; width:110px; height:27px; line-height:24px;}
.f_login .submit .remember { float:left; border:1px solid #044e96; background:#81a6ca; color:#fff; font-size:14px; width:178px; height:25px; line-height:24px; margin-left:8px; text-align:center;}
.f_login .submit .remember input { margin-right:5px;}



/*--- f_loginBugManage ---*/
.f_loginBugManage { height:100%; background:url(../bugManage/images/loginBGTop.gif) #fff repeat-x;}
.f_loginBugManage .wrapper { height:100%; background:url(../bugManage/images/loginBGBottom.gif) repeat-x bottom;}
.f_loginBugManage .wrapper2 { height:100%; background:url(../bugManage/images/loginBG.jpg) no-repeat right top; position:relative;}
.f_loginBugManage .login { width:598px; height:330px; position:absolute; left:50%; top:50%; margin-left:-299px; margin-top:-165px; background:url(../bugManage/images/loginAreaBG.gif);}
.f_loginBugManage .input { margin-top:100px; margin-left:175px; zoom:1;}
.f_loginBugManage .input label { float:left; line-height:21px;}
.f_loginBugManage .login li { clear:both; padding-top:10px; zoom:1;}
.f_loginBugManage .login img { float:left;}
.f_loginBugManage .e_input { width:200px; border:1px solid #a3b6d0; float:left; color:#000; background:#ffe; font-size:12px; word-break:break-all; height:19px;}
.f_loginBugManage .codeInput { width:140px;}
.f_loginBugManage .submit { clear:both; padding-top:20px; margin-left:213px;}
.f_loginBugManage .e_button { float:left; width:56px; height:32px; background:url(../bugManage/images/menuLogin.gif) no-repeat;border:0;}
.f_loginBugManage .remember { float:left; margin-left:10px; width:149px; height:32px; line-height:32px; background:url(../bugManage/images/menuRemember.gif) no-repeat; display:block;}
.f_loginBugManage .remember input { vertical-align:middle; margin-left:10px;_margin-top:5px;}



/*--- f_copyright ---*/
.f_copyright { color:#fff; background:url(../images/bottomBG.gif); height:26px; line-height:26px; font-weight:bold; font-size:12px; font-family:Arial,"宋体", Helvetica, sans-serif; text-align:center;}



/*--- f_header ---*/
.f_header { background:url(../images/headerBG.gif) #fff repeat-x; position:relative; height:53px; padding-top:3px;}
.f_header .nav { margin-left:200px; position:relative; margin-right:240px; zoom:1;}
.f_header .nav .ico { overflow:hidden; position:relative; width:100%;}
.f_header .nav .ico ul { width:20000px; overflow:hidden;}
.f_header .nav li { float:left;}
.f_header .nav a { float:left; width:66px; height:52px;}
.f_header .nav .workFlowConfig { background:url(../images/icoShWorkFlowConfig.gif);}
.f_header .nav .workFlowMonitor { background:url(../images/icoShWorkFlowMonitor.gif);}
.f_header .nav .pageFlowConfig { background:url(../images/icoShPageFlowConfig.gif);}
.f_header .nav .pageFlowMonitor { background:url(../images/icoShPageFlowMonitor.gif);}
.f_header .nav .logicFlowConfig { background:url(../images/icoShLogicFlowConfig.gif);}
.f_header .nav .logicFlowMonitor { background:url(../images/icoShLogicFlowMonitor.gif);}
.f_header .nav .pageLayoutConfig { background:url(../images/icoShPageLayoutConfig.gif);}
.f_header .nav .pageGenerationConfig { background:url(../images/icoShPageGenerationConfig.gif);}
.f_header .nav .cacheMonitor { background:url(../images/icoShCacheMonitor.gif);}
.f_header .nav a:hover,
.f_header .nav .on a { background-position:bottom;}
.f_header .nav a span { display:none;}
.f_header .nav .turner { zoom:1;}
.f_header .nav .turner .left { position:absolute; top:18px; left:-20px;}
.f_header .nav .turner .right { position:absolute; top:18px; right:-20px;}
.f_header .nav .turner a { display:block; width:18px; height:18px; background:url(../images/turner.gif); font-size:0;}
.f_header .nav .turner .right a { background-position:0 -18px;}
.f_header .nav .turner .left a:hover { background-position:0 -36px;}
.f_header .nav .turner .right a:hover { background-position:0 -54px;}
.f_header .nav .turner .left a:active { background-position:0 -72px;}
.f_header .nav .turner .right a:active { background-position:0 -90px;}
.f_header .nav .turner a span { display:none;}
.f_header .fct { position:absolute; top:0; right:0; width:210px;}
.f_header .fct ul { float:right;}
.f_header .fct li { float:left; width:30px; height:22px; background:url(../images/fctLi.gif); margin-right:-3px;}
.f_header .fct .on { background-position:bottom; position:relative; z-index:2;}
.f_header .fct a { float:left; width:30px; height:22px; background:url(../images/fctIco.gif) no-repeat;}
.f_header .fct a span { display:none;}
.f_header .fct .home { background-position:0 -22px;}
.f_header .fct .layout1 { background-position:0 -66px;}
.f_header .fct .layout2 { background-position:0 -110px;}
.f_header .fct .layout3 { background-position:0 -154px;}
.f_header .fct .layout4 { background-position:0 -198px;}
.f_header .fct .favor { background-position:0 -242px;}
.f_header .fct .exit { background-position:0 -286px;}
.f_header .fct .home:hover { background-position:0 0;}
.f_header .fct .layout1:hover { background-position:0 -44px;}
.f_header .fct .layout2:hover { background-position:0 -88px;}
.f_header .fct .layout3:hover { background-position:0 -132px;}
.f_header .fct .layout4:hover { background-position:0 -176px;}
.f_header .fct .favor:hover { background-position:0 -220px;}
.f_header .fct .exit:hover { background-position:0 -264px;}
.f_header .fct .on .home:hover,
.f_header .fct .on .home { background-position:-30px -22px; cursor:default;}
.f_header .fct .on .layout1:hover,
.f_header .fct .on .layout1 { background-position:-30px -66px; cursor:default;}
.f_header .fct .on .layout2:hover,
.f_header .fct .on .layout2 { background-position:-30px -110px; cursor:default;}
.f_header .fct .on .layout3:hover,
.f_header .fct .on .layout3 { background-position:-30px -154px; cursor:default;}
.f_header .fct .on .layout4:hover,
.f_header .fct .on .layout4 { background-position:-30px -198px; cursor:default;}
.f_header .fct .on .favor:hover,
.f_header .fct .on .favor { background-position:-30px -242px; cursor:default;}
.f_header .fct .on .exit:hover,
.f_header .fct .on .exit { background-position:-30px -286px; cursor:default;}
.f_header .user { position:absolute; top:25px; right:0; width:210px;}
.f_header .user .name { float:right; line-height:16px; padding-left:20px; background:url(../images/icoUser.gif) no-repeat; display:inline; margin-right:5px;}
.f_header .user .name span { padding-right:10px; background:url(../images/icoUnfold.gif) no-repeat right 5px;}
.f_header .user2 { position:absolute; top:1px; right:1px; width:209px; z-index:2;}
.f_header .user2 .name { line-height:16px; padding:1px; padding-left:25px; background:url(../images/icoUser.gif) #e1ecf6 no-repeat 5px 1px; display:block; border:1px solid #0279c4;}
.f_header .user2 .name span { padding-right:10px; background:url(../images/icoFold.gif) no-repeat right 5px;}
.f_header .user2 .prama { padding:3px; border:1px solid #0279c4; background:#ffc; margin-top:-1px;}
.f_header .user2 .level { color:#369; height:13px; overflow:hidden;}
.f_header .user2 .fct2 { margin-top:3px; height:12px; overflow:hidden;}
.f_header .user2 .fct2 li { display:inline;}



/*--- f_fct ---*/
.f_fct { width:26px; background:url(../images/fctBG.gif); height:100%; position:relative;}
.f_fct .layout { width:19px; padding:5px 3px 5px 4px; background:url(../images/fctBG.gif); height:63px; position:absolute; bottom:0; left:0;}
.f_fct .layout a { display:block; height:13px; width:17px; background:url(../images/fctLayout.gif) no-repeat; margin:1px;}
.f_fct .layout .layout2 { background-position:0 -13px;}
.f_fct .layout .layout3 { background-position:0 -26px;}
.f_fct .layout .layout4 { background-position:0 -39px;}
.f_fct .layout a:hover { background-color:#f60;}
.f_fct .layout .on a { border:1px solid; border-color:#000 #fff #fff #000; background-color:#034c93; margin:0; cursor:default;}
.f_fct .layout a span { display:none;}
.f_fct .nav { margin-left:5px; padding-top:6px;}
.f_fct .nav a { color:#fff; padding:6px 2px; display:block; width:12px; margin:1px;}
.f_fct .nav a:hover { color:#ff0;}
.f_fct .nav .on a { border:1px solid; border-color:#000 #fff #fff #000; background-color:#034c93; margin:0;}



/*--- f_slip ---*/
.f_slip { position:relative; zoom:1; height:100%;}
.f_slip .y { height:100%; width:5px; background:url(../images/slipBG.gif); font-size:0; overflow:hidden;}
.f_slip .y a { position:absolute; display:block; height:41px; width:5px; top:50%; margin-top:-21px;}
.f_slip .l { background:url(../images/slipPointerL.gif);}
.f_slip .r { background:url(../images/slipPointerR.gif);}
.f_slip .y a:hover { background-position:bottom;}
.f_slip .x { height:5px; font-size:0; overflow:hidden; background:url(../images/slipBG2.gif);}
.f_slip .x a { width:41px; height:5px; display:block; margin:0 auto;}
.f_slip .t { background:url(../images/slipPointerT.gif);}
.f_slip .b { background:url(../images/slipPointerB.gif);}
.f_slip .x a:hover { background-position:right;}



/*--- f_index ---*/
.f_index { zoom:1; height:100%; overflow:auto; scrollbar-highlight-color:#fff; scrollbar-face-color:#f2f6f9; scrollbar-arrow-color:#a0c0d7; scrollbar-3dlight-color:#a0c0d7; scrollbar-track-color:#f2f6f9; scrollbar-darkshadow-color:#a0c0d7; scrollbar-3dshadow-color:#f2f6f9;}
.f_index ul { margin-right:8px; padding-bottom:8px;}
.f_index li { margin-left:8px; margin-top:8px; float:left; display:inline;}
.f_index a { display:block; padding:10px; margin:1px; padding-left:75px; width:200px; color:#000; text-decoration:none; background-repeat:no-repeat; background-position:10px 10px;}
.f_index a:hover { display:block; border:1px solid #80bce2; margin:0; background-color:#f6fcff; background-position:10px -101px; cursor:pointer;}
.f_index .name { font-size:14px; display:block;}
.f_index .intro { display:block; margin-top:10px; line-height:1.8; height:65px; overflow:hidden; color:#666;}
.f_index .workFlowConfig a { background-image:url(../images/icoWorkFlowConfig.gif);}
.f_index .workFlowMonitor a { background-image:url(../images/icoWorkFlowMonitor.gif);}
.f_index .pageFlowConfig a { background-image:url(../images/icoPageFlowConfig.gif);}
.f_index .pageFlowMonitor a { background-image:url(../images/icoPageFlowMonitor.gif);}
.f_index .logicFlowConfig a { background-image:url(../images/icoLogicFlowConfig.gif);}
.f_index .logicFlowMonitor a { background-image:url(../images/icoLogicFlowMonitor.gif);}
.f_index .pageLayoutConfig a { background-image:url(../images/icoPageLayoutConfig.gif);}
.f_index .pageGenerationConfig a { background-image:url(../images/icoPageGenerationConfig.gif);}
.f_index .cacheMonitor a { background-image:url(../images/icoCacheMonitor.gif);}



/*--- c_tabNav ---*/
.c_tabNav { background:url(../images/navBG.gif) repeat-x; height:26px;}
.c_tabNav .tabPageWrapper { position:relative; overflow:hidden;}
.c_tabNav .tab { margin-right:66px; position:relative; z-index:2; overflow:hidden; white-space:nowrap; zoom:1; margin-left:10px;}
.c_tabNav .tab .maxWidth { width:100%; overflow:hidden; float:left;}
.c_tabNav .tab ul { width:32766px; height:26px; overflow:hidden;}
.c_tabNav .tab li { float:left; margin-right:-1px; position:relative; margin-top:1px;}
.c_tabNav .tab .li { color:#000; line-height:20px; margin:0; text-decoration:none;}
.c_tabNav .tab .li:hover { color:#f60; cursor:pointer;}
.c_tabNav .tab .left { float:left; width:2px; height:20px; overflow:hidden; font-size:0; background:url(../images/navLi.gif);}
.c_tabNav .tab .right { float:left; width:2px; height:20px; overflow:hidden; font-size:0; background:url(../images/navLi.gif) 0 -20px;}
.c_tabNav .tab .text { float:left; background:url(../images/navLi.gif) 0 -40px; padding:0 20px 0 8px;}
.c_tabNav .tab .li:hover .left { background-position:0 -60px;}
.c_tabNav .tab .li:hover .right { background-position:0 -80px; color:#f60;}
.c_tabNav .tab .li:hover .text { background-position:0 -100px;}
.c_tabNav .tab .loading .text span { padding-left:20px; float:left; background:url(../images/icoLoading.gif) no-repeat 0 2px;}
.c_tabNav .tab .locked .text { padding-right:8px;}
.c_tabNav .tab .locked .text span { padding-left:14px; float:left; background:url(../images/icoLocked.gif) no-repeat 0 5px;}
.c_tabNav .tab .on { margin:0;}
.c_tabNav .tab .on .li,
.c_tabNav .tab .on .li:hover { color:#fff; line-height:23px; margin:0; cursor:default;}
.c_tabNav .tab .on .left,
.c_tabNav .tab .on .li:hover .left { float:left; width:2px; height:23px; overflow:hidden; font-size:0; background:url(../images/navLiOn.gif);}
.c_tabNav .tab .on .right,
.c_tabNav .tab .on .li:hover .right { float:left; width:2px; height:23px; overflow:hidden; font-size:0; background:url(../images/navLiOn.gif) 0 -23px;}
.c_tabNav .tab .on .text,
.c_tabNav .tab .on .li:hover .text { float:left; background:url(../images/navLiOn.gif) bottom; padding:0 30px 0 10px;}
.c_tabNav .tab .on .loading .text span { padding-left:20px; float:left; background:url(../images/icoLoading.gif) no-repeat 0 4px;}
.c_tabNav .tab .closeTab { position:absolute; background:url(../images/close.gif); width:15px; height:15px; overflow:hidden; top:3px; right:5px; cursor:default;}
.c_tabNav .tab .on .closeTab { top:4px; right:8px; background:url(../images/close2.gif);}
.c_tabNav .tab .closeTab:hover { background-position:0 -15px;}
.c_tabNav .tab .closeTab:active { background-position:0 -30px;}
.c_tabNav .tabTurner {	position:absolute; width:50px; top:0; right:5px;}
.c_tabNav .tabTurner li { display:inline;}
.c_tabNav .tabTurner a { float:left; margin-right:-1px; width:16px; height:16px; overflow:hidden; font-size:0; background-image:url(../images/tabTurn.gif);}
.c_tabNav .tabTurner .left:hover { background-position:0 -16px;}
.c_tabNav .tabTurner .right { background-position:0 -32px;}
.c_tabNav .tabTurner .right:hover { background-position:0 -48px;}
.c_tabNav .tabTurner .default { background-position:0 -64px;}
.c_tabNav .tabTurner .default:hover { background-position:0 -80px;}



/*---f_side---*/
.f_side { height:100%; overflow:auto; position:relative; background:#f2f8fc;}
.f_side h4 { color:#333; position:relative; background:url(../images/h4BG.gif); margin-bottom:-1px; border:1px solid #b2ccdf; font-size:12px; font-weight:weight; zoom:1;}
.f_side h4 a { color:#333; padding-left:20px; text-decoration:none; display:block; line-height:25px; height:25px;}
.f_side h4 a:hover { color:#f60; cursor:pointer;}
.f_side h4.unfold a { background:url(../images/icoUnfold.gif) no-repeat 8px center;}
.f_side h4.fold a { background:url(../images/icoFold.gif) no-repeat 8px center;}
.f_side li { padding-bottom:1px; background:url(../images/partline.gif) repeat-x bottom; zoom:1;}
.f_side li a { display:block; height:24px; line-height:24px; text-decoration:none; padding-left:25px; color:#000; background:url(../images/icoSideLi.gif) #f2f8fc no-repeat 10px 9px;}
.f_side li a:hover { background-color:#ffc;}
.f_side li.on a,
.f_side li.on a:hover { color:#f60; background-image:url(../images/icoSideLiOn.gif); background-color:#fff;}