<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@wade:Head">
<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
<title>Flow Chart</title>
<link jwcid="@wade:Style" href="component/ecl/skin/defaultSkin/defaultColor/color.css" rel="stylesheet" type="text/css" media="screen"/>
<script jwcid="@wade:Script" language="JavaScript" src="component/scripts/module/flow.js"></script>
</head>
<body jwcid="@Body">
<div class="e_wrapper"><div class="e_wrapper2">
<form jwcid="@Form">
	<div class="e_cSet">
		<img jwcid="@wade:Chart" pageName="component.flow.pageflow.FlowChart" listener="getFlowChart" parameters="ognl:'&FLOW_FILE=' + pageData.getParameter('FLOW_FILE')" width="ognl:chartWidth" height="ognl:chartHeight"/>
	</div>
<script language="javascript"><!--
Wade.onLoad(function(){
	Wade.flow.flowChart_Init();
});
//--></script>
</form>
</div></div>
</body>
</html>