<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@wade:Head" reduce="true">
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>Login</title>
<link jwcid="@wade:Style" href="component/ecl/skin/defaultSkin/defaultColor/color.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<form jwcid="@Form">
<div>
	<img src="component/images/loading-2.gif" class="imgtop_3"/>
</div>
<div>
	<input type="submit" jwcid="blogin@Submit" value=" 登  陆 " listener="ognl:listeners.login" style="display:none"/>
</div>
</form>
</body>
</html>