<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@wade:Head">
<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
<title>Password Modify</title>
<link jwcid="@wade:Style" href="component/ecl/skin/defaultSkin/defaultColor/color.css" rel="stylesheet" type="text/css" media="screen"/>
<script jwcid="@wade:Script" language="JavaScript" src="component/scripts/module/adm.js"></script>
</head>
<body jwcid="@Body">
<div class="e_wrapper"><div class="e_wrapper2">
<form jwcid="@Form">

	<!-- 提示区 -->
	<div jwcid="@wade:HintBar" hintInfo="ognl:hintInfo" alertInfo="ognl:alertInfo" errorInfo="ognl:errorInfo"/>

	<!-- 详情区 -->
	<div class="c_inputField l_mt">
		<div class="top"></div>
		<!-- 控件区 -->
		<div class="body"><div class="aclinicOn">
			<table class="col1">
				<tr>
					<td class="li">
						<div class="wrapper">
							<div class="label"><span class="e_required">员工号：</span></div>
							<div class="inputArea"><div>
								<div jwcid="@Insert" value="ognl:pageData.context.staffId" raw="false" />
							</div></div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="li">
						<div class="wrapper">
							<div class="label"><span class="e_required">原密码：</span></div>
							<div class="inputArea"><div>
								<input type="password" id="OLD_PASSWORD" name="OLD_PASSWORD" desc="原密码" nullable="no" class="e_input"/>
							</div></div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="li">
						<div class="wrapper">
							<div class="label"><span>新密码：</span></div>
							<div class="inputArea"><div>
								<input type="password" id="NEW_PASSWORD" name="NEW_PASSWORD" desc="新密码" nullable="no" class="e_input"/>
							</div></div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="li">
						<div class="wrapper">
							<div class="label"><span>新密码确认：</span></div>
							<div class="inputArea"><div>
								<input type="password" id="NEW_PASSWORD2" name="NEW_PASSWORD2" desc="新密码确认" class="e_input"/>
							</div></div>
						</div>
					</td>
				</tr>				
			</table>
		</div></div>
		
		<!-- 按钮区 -->
		<div class="bottom e_cSet">
			<input type="submit" class="e_button" jwcid="bsubmit@Submit" value="确 定" listener="ognl:listeners.changePassword" onclick="return Wade.adm.confirmPasswordModify(this);"/>
			<input type="reset" class="e_button" id="breset" name="breset" value="重 填" />
		</div>
	</div>
</form>
</div></div>
</body>
</html>