<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@wade:Head" reduce="true">
<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
<title>Timeout</title>
<link jwcid="@wade:Style" href="component/ecl/skin/defaultSkin/defaultColor/color.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div class="c_popup" style="display:block;">
	<div class="c_popupPopup" style="width:398px; height:232px; margin-top:-150px; margin-left:-200px;">
		<div class="c_popupFillet">
			<div class="c_popupFilletTop">
				<div class="c_popupFillet11"></div>
				<div class="c_popupFillet12"></div>
			</div>
		</div>
		<div class="c_popupTop"></div>
		<div class="c_popupWrapper">
			<div class="c_popupBody">
				<div class="c_warning">
					<div jwcid="@Any" class="warning">
						<div class="minHeight"></div>
						<div class="tip">
							<ul>
								<li>错误提示：</li>
								<li>成功提示：</li>
								<li>警告：</li>
							</ul>
						</div>
						<div class="content">
							<p>由于您长时间未做操作或者系统在您登陆后已重启过，导致您的会话已超时，请您重新打开系统菜单。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="c_popupBottom"></div>
		<div class="c_popupFillet">
			<div class="c_popupFilletBottom">
				<div class="c_popupFillet21"></div>
				<div class="c_popupFillet22"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>