<html>
<head>
<title>插入表格&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</title>
<head>
<style type="text/css">
<!--
	html, body, button, div, input, select, td, fieldset { font-family: MS Shell Dlg; font-size: 8pt; };
-->
</style>
<script language="JavaScript" src="js/inserttable.js"></script>
</HEAD>
<BODY id=bdy onload="Init()" style="background: threedface; color: windowtext; margin: 10px; BORDER-STYLE: none" scroll=no>

<table border=0 cellspacing=0 cellpadding=0 style="margin: 0 0 8 0">
 <tr>
  <td>行数:&nbsp;&nbsp;</td>
  <td><input type="text" id="rows" name="rows" value="4"  style="width: 50px" maxlength=4></td>
 </tr>
 <tr>
  <td>列数:&nbsp;&nbsp;</td>
  <td><input type="text" id="cols" name="cols" value="3"  style="width: 50px" maxlength=4></td>
  <td width=10>&nbsp;</td>
  <td> &nbsp;宽度: &nbsp;</td>
  <td>
   <input type="text" id="width" name="width" value="100" style="width: 50px" maxlength=4>
   <select id="widthExt" name="widthExt">
    <option value="">像素</option>
    <option value="%" selected>百分比&nbsp;</option>
   </select>
  </td>
 </tr>
</table>


<FIELDSET style="width: 1%; text-align: center">
<LEGEND>布局</LEGEND>

<table width="175" border=0 cellspacing=6 cellpadding=0>
 <tr>
  <td width="80" height="21">对齐方式:</td>
  <td>
   <select id="alignment" name="alignment" size=1 style="width: 75px">
   <option value="">默认</option>
   <option value="left">左对齐</option>
   <option value="right">右对齐</option>
   <option value="textTop">文本上方</option>
   <option value="absMiddle">绝对居中</option>
   <option value="baseline">基线</option>
   <option value="absBottom">绝对底边</option>
   <option value="bottom">底边</option>
   <option value="middle">居中</option>
   <option value="top">顶端</option>
   </select>
  </td>
 </tr>
 <tr>
  <td width="80"><nobr>表格边框:</nobr></td>
  <td><input type="text" id="border" name="border" value="1" size=4 style="width: 75px"></td>
 </tr>
</table>
</FIELDSET>


<FIELDSET style="width: 1%; text-align: center">
<LEGEND>间距</LEGEND>

<table width="135" border=0 cellspacing=6 cellpadding=0>
 <tr>
  <td width="70"><nobr>单元格间距:</nobr></td>
  <td><input type="text" id="cellspacing" name="cellspacing" value="1" style="width: 50px" maxlength=4></td>
 </tr>
 <tr>
  <td width="70"><nobr>单元格边距:</nobr></td>
  <td><input type="text" id="cellpadding" name="cellpadding" value="2" style="width: 50px" maxlength=4></td>
 </tr>
</table>
</FIELDSET>


<div style="left: 340px; top: 16px; position: absolute">
 <BUTTON style="width: 7em; height: 2.2em; margin: 0 0 3 0" type=submit onclick="btnOKClick()">确定</BUTTON><br>
 <BUTTON style="width: 7em; height: 2.2em; " type=reset onClick="window.close();">取消</BUTTON>
</div>

</BODY>
</HTML>