<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@wade:Head">
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>Test</title>
<link jwcid="@wade:Style" href="component/ecl/skin/defaultSkin/defaultColor/color.css" rel="stylesheet" type="text/css" media="screen"/>
<script jwcid="@wade:Script" language="javascript" type="text/javascript" src="component/scripts/module/draglayout.js"></script>
</head>

<body jwcid="@wade:Body">
<form jwcid="@wade:Form">
<div class="e_wrapper"><div class="e_wrapper2">
<!-- <div id="log" style="height:20px;padding-left:50px;"></div> -->
<div style="height:0px; overflow:hidden; margin-top:-7px;"></div>
<div class="l_drag">
	<div id="containerTable" class="l_manual e_clear">
    
	</div>
</div>
</div></div>
</form>
</body>
</html>
