<?xml version="1.0" encoding="utf-8" ?>
<root>
  <shapes>
    <shape id="0" shapeid="1">
      <description></description>
      <properties></properties>
    </shape>
  </shapes>
  <lines>
    <line id="0" lineid="1">
      <properties>
        
      </properties>
    </line>
  </lines>
</root>