<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@wade:Head" reduce="true">
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>Flow Frame</title>
<script language="javascript"><!--
	Include("module/flow.js");
//--></script>
</head>
<frameset rows="27,*,27" cols="*" frameborder="no" border="0" framespacing="0" onload="Wade.flow.flowFrame_Init();">
	<frame jwcid="@wade:PageRedirect" type="frame" id="flowtab" name="flowtab" source="ognl:pageData.transferData" scrolling="no" noresize="noresize"/>
	<frameset id="flowbody" jwcid="@Any" cols="ognl:stepCols" framespacing="0" frameborder="no" border="0">	
		<span jwcid="@Foreach" source="ognl:steps" value="ognl:step" index="ognl:rowIndex">
			<frame jwcid="@wade:PageRedirect" type="frame" id="ognl:step.name" name="ognl:step.name" index="ognl:rowIndex" scrolling="auto" noresize="noresize"/>
		</span>
	</frameset>
	<frame id="flowsubmit" name="flowsubmit" scrolling="no" noresize="noresize"/>
</frameset>
<noframes><body>
</body>
</noframes></html>