<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
<title>&nbsp;</title>
<script language="JavaScript" src="js/editoragent.js"></script>
</head>
<frameset id="PopupAgent" rows="*" frameborder="0" framespacing="0" onload="Wade.editoragent.initEditorAgent();">
	<frame id="popup" name="popup" marginwidth="0" marginheight="0" noresize>
</frameset>
</html>