<html>
<head>
<title>≤Â»ÎÕº Õ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</title>
<style type="text/css">
<!--
	.HandIE { cursor: hand; }
	.HandMozilla { cursor: pointer; }
	.DarkBackground { background-color: #d7d79f; }
	.LightBackground { background-color: #ffffbe; }
-->
</style>
<script language="JavaScript" src="js/insertsmiley.js"></script>
</head>
<body>
<table cellpadding="2" cellspacing="2" align="center" border="0" width="100%" height="100%">
<script language="javascript"><!--
wirteSmileys();
// --></script>
</table>
<script language="javascript"><!--
initInsertSmiley();
// --></script>
</body>
</html>